In [1]:
import os

from glob import glob
import pandas as pd

In [2]:
os.chdir('../data')

In [3]:
os.listdir()

['source_data']

In [4]:
files = glob('source_data/*.csv')

files

['source_data/Sample_Submission.csv',
 'source_data/Test.csv',
 'source_data/Train.csv']

In [5]:
df_train = pd.read_csv('source_data/Train.csv')
df_test = pd.read_csv('source_data/Test.csv')

In [6]:
df_train.shape

(16516, 11)

In [7]:
df_test.shape

(24776, 10)

### Whether duplicates exists or not

In [8]:
df_train.drop_duplicates().shape

(16428, 11)

### Dropping duplicates

In [9]:
df_train.drop_duplicates(inplace=True)

In [10]:
df_train.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10M,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27M,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,Varies with device,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,Varies with device,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"

### Converting column names of training and testing data into lower case

In [11]:
df_train.columns = [col.strip().lower() for col in df_train.columns]
df_test.columns = [col.strip().lower() for col in df_test.columns]

In [12]:
df_train.head()

,offered_by,category,rating,reviews,size,price,content_rating,last_updated_on,release_version,os_version_required,downloads
0,ps_id-24654,Finance,4.18,1481,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10M,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27M,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,Varies with device,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,Varies with device,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"

In [13]:
df_test.head()

,offered_by,category,rating,reviews,size,price,content_rating,last_updated_on,release_version,os_version_required
0,ps_id-18231,Game Puzzle,4.52,1362,36M,Free,Everyone,May 05 2020,1.4.1,4.0.3 and up
1,ps_id-1874,Shopping,4.29,3353,Varies with device,Free,Teen,May 05 2020,Varies with device,Varies with device
2,ps_id-3182,Photography,4.55,161855,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device
3,ps_id-31452,Game Action,3.97,545,16M,Free,Everyone,Dec 07 2016,2,4.1 and up
4,ps_id-25641,Photography,4.65,1672,33M,Free,Everyone,Jan 25 2020,1,4.4 and up

### Dumping training data and testing data in a new directory

In [14]:
if not os.path.exists('v1'):
    os.mkdir('v1')

In [15]:
df_train.to_csv('v1/train.csv', index=False)
df_test.to_csv('v1/test.csv', index=False)